html, body {
    font-family: 'Raleway', sans-serif;  
}
.flexCentre2 {
    display: flex;
    align-items: center;
}
.flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexColumnCentre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexColumnAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flexColumnBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.texteGras {
    font-weight: bold;
}
.decoration {
text-decoration: none;     
}  
.bordureNone {
    border: none;
} 
.backgroundBleu {
    background-color: #0065fc;
}
.backgroundGris {
    background-color: #f2f2f2;
}

/* NAV */
.navlien {
    height: auto;
}
.Lien {
width: 100%;
}
.Liens12 {
   width: 60%; 
}
.Liens {
    width: 140px;
    height: 99px;
}
.colorBleu {
    color: #0065fc;
}
.colorGris {
    color: #f2f2f2;
}
.colorlien2 {
color: #0065fc;
}
.colorlien1 {
color: black;
}
.bordure {
   border-top: 3px solid #0065fc; 
}
.bordure1 {
    border-top: 3px solid transparent; 
 }
.mlogo {
    margin-bottom: 7px;
}
/* HEADER */
.desktopNone {
    display: none;
}
.bordureSearch {
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
}
.paddingSearch {
   padding-left: 20px;  
}
.recherche {
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.iconMap {
height: 50px;
width: 50px;
border-radius: 10px 0 0 10px;
}
.button {
  height: 50px;
  width: 120px; 
  color: white; 
  cursor: pointer; 
  border-radius: 0 10px 10px 0; 
}
/* Filtres */
.margFiltre {
    margin-top: 50px;
    margin-bottom: 40px;
}
.filtre {
   display: flex;
   align-items: center; 
}
.margFiltreTitre {
    margin-right: 20px;
}
.filtreTexteIcones {
    border:  2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}
.filtreTexteIcones:hover > .filtreTexte {
    color: #0065fc;
}
.filtreTexteIcones:hover > .filtreIcones {
    color: white;
    background-color: #0065fc;
}
.filtreTexte {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px;
}

.filtreIcones {
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065fc;
    background-color: #deebff;
}
/* INFO ICONE */
.info {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    
}
.Icone {
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
}
/* HEBERGEMENTS */
.texteHebergement {
    padding-top: 20px;
}
.hebergements {
    flex: 2;
    height: 750px;
    margin-right: 20px;
    border-radius: 20px;
}
.Populaires {
    flex: 1;
    height: 750px;
    margin-left: 20px;
    border-radius: 20px;   
}
.partieHebergements {
    padding-left: 38px;
    padding-right: 38px;
}
.affichtextePopulaire {
    padding-bottom: 20px;
} 
.partie1 {
    margin-bottom: 5px;
}
.partie2 {
    margin-top: 10px;
}
.cubeHergements {
    width: 30%;
    height: auto;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    /* rajoute pour voire la vesion mobile et desktop */
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    
}
.partieDetail {
    width: 90%;
    
}
.imgAubergelaCannebiere img {
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.imgHotelduPort img {
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.imgHotelLesmouettes img {
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.imgHoteldelamer img {
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.imgAubergeLePanier img {
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.imghotelchezAmina img {
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
/* Populaire */
.incoPopulaire {
    padding-bottom: 28px;
}
.margPopulaire {
    padding-top: 30px;
}
.textePopulaire {
    padding-bottom: 20px;
}
.blocPopulaires {
    padding-left: 38px;
    padding-right: 38px;
}
.blocPopulaires12 {
    margin-bottom: 35px;
}
.fondPopulaires {
    background-color: white;
    height: auto;
    padding: 1% 0 0% 1%;
    border-radius: 20px;
}
.detailPopulaire {
    width: 60%;
    padding-left: 5%;
}
.imgPopulaire1 img {
    width: 110px;
    height: 174px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}
.imgPopulaire2 img {
    width: 110px;
    height: 174px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}
.imgPopulaire3 img {
    width: 110px;
    height: 174px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}
/* Activité */
.Activites {
    margin-top: 50px;
    margin-bottom: 50px;
}
.grandblocActivites {
   width: 100%;
   height: 600px; 
}
.petitblocActivites {
    width: 23%;
    height: 600px; 
 }

/* reglage cube */
.grandcubeActivites {
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.petitcubeActivite {
   width: 100%;
   border-radius: 15px;
   box-shadow: 5px 5px 5px 1px #f2f2f2; 
}
/* fin reglage cube */
.hauteurTitre {
    height: 70px;
}
.titreActivites {
   display: flex; 
   justify-content: flex-start;
   align-items: center;
   padding-left: 5%;
   width: 95%;
}
.imgVieuxPort img {
    width: 100%;
    height: 530px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.imgVieuxPort {
    width: 100%;
}
.imgFortdePomegues img {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.imgIlesduFrioul img {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.imgParcNational img {
    width: 100%;
    height: 530px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.imgParcNational {
    width: 100%;
}
.imgNotreDames img {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.imgParcLongchamp img {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
/* footer */
.footer {
    height: 300px;
    margin-top: 80px;
}
.tailleblocfooter {
    height: 170px;
}
.margefooter1 {
margin-left: 3%;

}
.margefooter3 {
    margin-right: 30%;
    
}
/* responsive */

@media screen and (max-width: 1295px) {
    .partieDetail {
        min-height: 150px;
    }
    .hebergements {
        min-height: auto;
        padding: 20px;
    }
    .Populaires {
        min-height: auto;
        padding: 20px;
    }
    .tabletteTitrePopulaires {
     margin-top: 0;   
    }
    .textePopulaire {
        padding-bottom: 0;
        padding-top: 27px;
    }
    .margPopulaire {
        padding-top: 0;
    }
    .logoPop {
        margin-top: 25px;
    }
}
@media screen and (max-width: 990px) {
    .mobileFiltre {
        flex-direction: column;
        align-items: flex-start;
    }
    .filtreTexteIcones {
        margin-bottom: 20px;
    }
    #herbergements {
        flex-direction: column-reverse;
        width: 100%;
    }
    .Populaires {
        flex: none;
        width: 90%;
        margin-left: 0;
        padding: 5%;
    }
    .hebergements {
        flex: none;
        width: 90%;
        margin-right: 0;
        margin-top: 50px;
        padding: 5%;
    }

}
@media screen and (max-width: 790px) {
    .hebergements {
    height: auto;
    }
    .partie1 {
        flex-direction: column;
        margin-bottom: 0;
    }
    .partie2 {
        flex-direction: column;
        margin-bottom: 0;
    }
    .cubeHergements {
        width: 100%;
        margin-bottom: 50px;
    }
    .partieDetail {
        min-height: auto;

    }
    .grandblocActivites {
      flex-direction: column; 
      height: auto;
    }
    .grandcubeActivites {
        margin-bottom: 50px;
        width: 100%;
    }
    .petitblocActivites {
        width: 100%;
        height: auto;
    }
    .petitcubeActivite {
        margin-bottom: 50px;
    }   
    .imgVieuxPort img {
        width: 100%;
        height: 200px;
    }
    .imgFortdePomegues img {
        max-width: 100%;
        height: 200px;
    }
    .imgIlesduFrioul img {
        max-width: 100%;
        height: 200px;
    }
    .imgParcNational img {
        width: 100%;
        height: 200px;
    }
    .imgNotreDames img {
        max-width: 100%;
        height: 200px;
    }
    .imgParcLongchamp img {
        max-width: 100%;
        height: 200px;
    }

    .footer {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding-left: 20px;
    }
    .margefooter1 {
        margin: 0;
    }
}
@media screen and (max-width: 600px) {
    .Lien {
        flex-direction: row;
    }
    .Liens12 {
        order: 1;
        width: 100%;
        margin-left: 0;
    }
    .lienMobile {
        width: 50%;
        border-top: none;
        border-bottom: 3px solid #0065fc ;

    }
    .lienMobiles {
        width: 50%;
        border-top: none;
        border-bottom: 3px solid #f2f2f2 ;

    }
    .Lien {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .LienMobile:hover {
        border-top: 0;
        border-bottom: 5px solid #0065fc;
    }
    .mobileTitre {
        font-size: x-large;
    }
    .bordureSearch {
        width: auto;
        border: none;
    }
    .recherche {
        width: 200px;
        border-bottom: 1px solid #f2f2f2;
        border-top: 1px solid #f2f2f2;
    }
    .button {
        width: 50px;
        border-radius: 15px;
    }
    .desktopNone {
        display: block;
    }
    .mobileNone {
        display: none;
    }
    .margFiltre {
        padding-left: 5%;
    }
    .mobileEconomique {
        margin-right: 5px;
    }
    .filtreTexte {
        padding-left: 14px;
        padding-right: 14px;
    }
    .mobileFamilial {
        margin-right: 0;
    }
    .info {
        padding-left: 5%;
    }
    .blocPopulaires {
        border-radius: 0%;
    }
    .hebergements {
        background-color: white;
    }
    .mobileTitreParagraphe {
        padding-left: 5%;
    }
    .grandblocActivites {
        padding: 5%;
        width: 90%;
    }
    html, body {
        margin: 0;
        padding: 0;
    }

}